.root{
    -fx-background-color: white;
}

.label{
    -fx-font-family: "Lucida Console";
    /*-fx-background-color: #e3effd;*/
    /*-fx-alignment: center;*/
}

#Verdict{
    -fx-text-fill: lightgray;
}

.button{
    -fx-background-radius: 20;
    -fx-background-color:  #e3effd;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.button:hover{
    -fx-background-color: lightgray;
}

.password-field{
    -fx-background-color: #e3effd;
    -fx-background-radius: 20;
}

.text-field{
    -fx-background-color: #e3effd;
    -fx-background-radius: 20;
}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}